{% extends 'base.html.twig' %}

{% block title %}Salesperson profle{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="m-3">
        <p>Your ID: {{ userId }}</p>
        <p>Your name: {{ firstName }}</p>
        <p>Your email: {{ email }}</p>
        <p>Your role: {{ role }}</p>
    </div>

    <h2>Salesperson meni treba da ima opciju <a href="{{ url('app_salesperson_sales') }}" target="_blank">Sales</a></h2>
</div>
{% endblock %}
